<div class="panel">
  <p>
    <h2><%= @owner.full_name %></h2>
  </p>
  <div class="thumb profile">
    <% if @owner.avatar? %>
    <%= image_tag(@owner.avatar_url(:thumb)) %>
    <% else %>
    <%= image_tag 'no_pic.gif' %>
    <% end %>
  </div>
  <span><%= @owner.content %></span>
  <p>
    <b>Companies owned</b>
    <% for company in @owner.companies %>
    <div>
      <b><%= link_to company.name, mini_profile_company_path(company), remote: true %></b>
    </div>
    <% end %>
  </p>
</div>
<%= link_to 'Edit', edit_owner_path(@owner) %> |
<%= link_to 'Back', owners_path %>
