<h1><!-- Companies --></h1>

<div class="profile_list">
  <% @companies.each do |company| %>
  <div class="profile">
    <%= link_to mini_profile_company_path(company), remote: true do %>
    <div class="details">
      <div><%= company.name %></div>
      <div class="thumb">
        <% if company.avatar? %>
        <%= image_tag(company.avatar_url(:thumb)) %>
        <% else %>
        <%= image_tag 'no_pic.gif' %>
        <% end %>
      </div>
      <div><%= company.category.name %></div>
    </div>
    <% end %>

    <div class="actions">
      <%= link_to 'Details', company %>
      <%= link_to 'Edit', edit_company_path(company) %>
      <%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
  <% end %>
</div>

<p><%= link_to 'New Company', new_company_path %></p>
