<p id="notice"><%= notice %></p>
<p>
  <b><%= @company.name %></b>
  <div><%= @company.category.name %></div>
</p>

<div class="thumb profile">
  <% if @company.avatar? %>
  <%= image_tag(@company.avatar_url(:thumb)) %>
  <% else %>
  <%= image_tag 'no-logo.png' %>
  <% end %>
</div>
<span class="content"><%= @company.content %></span>
<!-- <p><%#= link_to 'Company Owners', company_owners_company_path(@company), remote: true %></p> -->
<%= render 'companies/owner' %>

<% unless @properties.blank? %>
<div class="panel">
  <b>Properties of <%= @company.name %></b>
  <% @properties.each do |owner| %>
  <div><%= link_to owner.name, mini_profile_company_path(owner), remote: true %></div>
  <% end %>
</div>
<% end %>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
