<!DOCTYPE html>
<html>
<head>
  <title>Media Owners</title>
  <link href='http://fonts.googleapis.com/css?family=Playfair+Display+SC&subset=latin,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="header">
      <div class="logo">
        <%= link_to root_path do %>
          Media<br> Owners
        <% end %>
      </div>
      <nav>
        <ul>
          <li><%= link_to 'Home', root_path %></li>|
          <li><%= link_to 'Blog' %></li>|
          <li><a href="#nowhere">About project</a></li>|
          <li><a href="#nowhere">Contact</a></li>
        </ul>
      </nav>
    </div>
    <div>
      <nav class="menu">
        <ul>
          <% for cat in all_categories %>
            <li><%= link_to cat.name, category_path(cat.id) %></li>|
          <% end %>
          <li><%= link_to 'All Companies', companies_path %></li>|
          <li><%= link_to 'Owners', owners_path %></li>
        </ul>
      </nav>
    </div>
    <div class="content">
      <div class="left_side">
        <%= yield %>
      </div>
      <div class="right_side">
        <div class="panel">
          <% for comp in latest_updates %>
            <div><%= link_to comp.name, mini_profile_company_path(comp), remote: true %></div>
            <small>Updated at: <%= l comp.updated_at, format: :short %></small>
            <br><br>
          <% end %>
        </div>
      </div>
    </div>
    <div class="footer"></div>
  </div>
</body>
</html>
